## Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
packages/
*.nupkg
project.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## OS
.DS_Store
Thumbs.db